@import "./variables.scss";

::-webkit-scrollbar {
  display: none;
}


div.container-fluid {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;

  padding: 0;
  width: 100%;
  min-height: 100vh;

  .header .container {
    padding: 0;
  }
}

.header{
	font-size: 0.75rem;
	font-weight: bold;
}

nav { 
  height: 3rem;
  
  img {
    height: 2.4rem;
    margin-right: 1.25rem;
  }
}

footer {
  background-color: black;
  
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    min-height: 3.75rem;
    padding: 0;
    margin: 0;

    li {
      list-style-type: none;
      font-size: 0.75rem;
      font-weight: 600;
      
      a {
        text-decoration: none;
        color: white;

        &:hover {
          color: $hover-color;
        }
      }

      #copyright-text {
        color: $copyright-color;
      }
    } 
  }
}

/* Pages */

@import "./pages/index.scss";
@import "./pages/falcon9.scss";
@import "./pages/humanFlight.scss";

/* Bootstrap */

@import "../node_modules/bootstrap/scss/bootstrap.scss";

/* Variables */

@import "./variables.scss";