/* Variables */

@import "./variables.scss";


/* Styles */

div.container-fluid {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  color: white;

  padding: 0;
  width: 100%;
  min-height: 100vh;

  .header .container {
    padding: 0;
  }  

  .container2 {
    padding-block: 13rem 3rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;

    div {
      max-width: 40rem;
    }

    a {
      padding: 1rem;
      border: 2px solid;
      border-radius: 5px;
    }
  }
}

.header{
	font-size: 0.75rem;
	font-weight: bold;
}

nav {
  height: 3rem;
  
  img {
    height: 2.4rem;
    margin-right: 1.25rem;
  }

  a.nav-link {
    color: white;
    
    &:hover {
      color: $hover-color;
    }
  }
}

.carousel-item {
  min-height: 100vh;

  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

footer {
  background-color: black;
  color: white;
  
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    min-height: 3.75rem;
    padding: 0;
    margin: 0;

    li {
      list-style-type: none;
      font-size: 0.75rem;
      font-weight: 600;
      
      a {
        text-decoration: none;
        color: white;

        &:hover {
          color: $hover-color;
        }
      }

      #copyright-text {
        color: $copyright-color;
      }
    } 
  }
}

/* Pages */

@import "./pages/home.scss";
@import "./pages/falcon9.scss";
@import "./pages/humanFlight.scss";

/* Bootstrap */

@import "../node_modules/bootstrap/scss/bootstrap.scss";

/* Styles */

div.container-informations {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  background-color: black;

  .container2 {
    margin-top: 2rem;
    align-items: center;
    gap: 0;

    p {
      a {
        border: 0;
        padding: 0;
        text-decoration: none;
        color: $hover-color;

        &:hover {
          color: lightgray;
        }
      }
    }

     div:last-child {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.75rem;
    }
  }
}

/* Variables */

@import "./variables.scss";