#container1-1 {
  background-image: url("../src/images/falcon9/01.jpg");

  #falcon9 {
    font-size: 5.625rem;
    font-weight: bold;
  }

  .container2 {
    align-items: center;
    gap: 0.5rem;
  }
}

#container1-2 {
  &.container-fluid {
    background-color: black;
    
    padding-block: 5rem;
    min-height: 20rem;
  };
  
  #number-datas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    padding-inline: 2rem;

    div {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    h2 {
      font-size: 5.625rem;
      font-weight: 500;
    }

    p {
      font-size: 1.25rem;
    }
  }
}

#container1-3 {
  background-image: url("../src/images/falcon9/02.jpg");

  p {
    font-size: 1.375rem;
    line-height: 3.125rem;

    max-width: 40rem;
  }
}

#container1-4,
#container1-5 {
  .container2 {
    justify-content: flex-start;
    gap: 0;
    
    max-width: 31.25rem;
    margin-left: 12.75rem;
  }

  p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  h4 {
    font-size: 1.75rem;
  }

  h5 {
    font-size: 1.125rem;
    font-weight: 400;
    
    margin-bottom: 1rem;
  }

  .table {
    max-width: 29.75rem;
    color: white;

    td:last-child {
      text-align: end;
    }
  }
  
  #slide1 {
    background-image: url("../src/images/falcon9/03.jpg");
  }
  #slide2 {
    background-image: url("../src/images/falcon9/04.jpg");
  }
  #slide3 {
    background-image: url("../src/images/falcon9/05.jpg");
  }
  #slide4 {
    background-image: url("../src/images/falcon9/06.jpg");
  }
  #slide5 {
    background-image: url("../src/images/falcon9/07.jpg");
  }
}

#container1-5 {
  background-image: url("../src/images/falcon9/08.jpg");
}

#container1-6 {  
  p {
    background-color: black;
  }

  .carousel-item img {
    max-height: 100vh;
  }
}