#container0-1 {
  background-image: url("../../../../src/images/home/01.jpg");
}

#container0-2 {
  background-image: url("../../../../src/images/home/03.jpg");
}

#container0-3 {
  background-image: url("../../../../src/images/home/02.gif");
}

#container0-4 {
  background-image: url("../../../../src/images/home/04.jpg");
}