#container0-1 {
  background-image: url("../../../../src/images/home/01.jpg");
}

#container0-2 {
  background-image: url("../../../../src/images/home/03.jpg");
}

#container0-3 {
  background-image: url("../../../../src/images/home/02.gif");
}

#container0-4 {
  background-image: url("../../../../src/images/home/04.jpg");
}

#container0-1,
#container0-2,
#container0-3,
#container0-4 {
  .container2 {
    padding-block: 13rem 3rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;

    div {
      width: 40rem;
    }

    a {
      padding: 1rem 2.25rem;
      border: 2px solid;
      border-radius: 5px;
    }
  }
}